/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html { box-sizing: border-box; }

body {
  box-sizing: inherit;
  font-family: Arial, Helvetica, sans-serif;
  padding: 60px;
  height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
}

.count-container {
  position: absolute;
  top: 60%;
  left: 30%;
}
.prog {
  width: 500px;
    height: 3px;
    background: #ccc;
  .progress {
    height: inherit;
    width: 0%;
    background: #1550d1;
  }
}
